@use "src/colors";

.card {
  border: solid 1px colors.$lightgrey3;
  background-color: colors.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-md {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}
.card-graph {
  padding: 1.5rem 0.5rem;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
}
.card-lg {
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}
