@use "src/colors";

.pagination {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: colors.$black;
  font-weight: 500;
}
.pagination .pagination-dots {
  padding: 0.5rem 0.65rem;
}
.pagination .pagination-num {
  cursor: pointer;
  /* padding: 0.5rem 0.65rem; */
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid colors.$lightgrey;
  border-radius: 0.5rem;
}
.pagination .pagination-num.active {
  background-color: colors.$theme;
  color: colors.$white;
}
.pagination .disabled.pagination-btn {
  color: colors.$lightgrey3;
}
