$lightgrey: #f3f3f6;
$lightgrey2: #fcfcfd;
$lightgrey3: #d9d6d6;
$lightgrey4: #ebebeb;
$white: #ffffff;
$black: #333;
$grey: #656569;
$darkgrey: #515151;
$blue: #4071b8;
$blue2: #2e5aac;
$green: #56c568;
$red: #f44336;
$red2: #f13021;
$theme: #e25d5d;